<footer class="py-20 bg-gray-200">
  <div class="container">
    <div class="grid flex-row w-full grid-cols-1 gap-8 lg:flex">

      <div class="w-full lg:w-1/4">
        <p class="text-sm">
          &copy copyright {{ now|date('Y') }} {{ siteName }}
        </p>
      </div><!-- /.w-full -->

      <div class="w-full lg:w-1/2">
        <p class="text-sm">
          <span class="font-bold">half width footer content</span> here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi fugit maxime cumque voluptates ut soluta blanditiis cupiditate dolore necessitatibus magni.
        </p>
      </div><!-- /.w-full -->

      <div class="w-full lg:w-1/4">
        {# social links here #}
        {% set socialLut = {
          facebook: { link:'#', icon:'FB', label:'Facebook' },
          twitter: { link:'#', icon:'TW', label:'Twitter' },
          linkedin: { link:'#', icon:'LI', label:'LinkedIn' },
          instagram: { link:'#', icon:'IN', label:'Instagram' }
        } %}
        <ul class="flex flex-row justify-end gap-4" aria-label="social media links">
          {% for item in socialLut %}
            <li><a href="{{ item.link }}" aria-label="{{ item.label }}" target="_blank">{{ item.icon }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.w-full -->

    </div><!-- /.flex flex-row -->
  </div><!-- /.container -->
</footer>