<nav class="bg-white border-b border-gray-200">
  <div class="w-full text-gray-700 max-w-screen container">
    <div x-data="{ open: false }" class="flex flex-col mx-auto ax-w-screen lg:flex-row">

      <div class="flex flex-row items-center justify-between px-4 py-2">
        <a href="{{siteUrl }}" class="hidden text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
          {# {{ svg('@webroot/assets/images/svg/logo.svg')|attr({ class: 'ml-4 md:ml-0' }) }} #}
          insert logo
          <span class="sr-only">Home</span>
        </a>

        <button class="mr-8 rounded-lg md:mr-12 lg:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
          {{ svg('@webroot/assets/images/svg/close.svg')|attr({ class:'h-6 w-6', 'x-show':'open',  'x-cloak':''}) }}
          <span class="sr-only" x-show="open">Close Menu</span><!-- /.sr-only -->
          {{ svg('@webroot/assets/images/svg/hamburger.svg')|attr({ class:'h-6 w-6', 'x-show':'!open'}) }}
          <span class="sr-only" x-show="!open">Open Menu</span><!-- /.sr-only -->
        </button>
      </div>

      <nav class="flex-col flex-grow hidden h-screen pb-4 lg:pb-0 lg:flex lg:justify-start lg:flex-row lg:h-auto" aria-label="Main Navigation" :class="{'flex': open, 'hidden': !open}">
        <ul class="flex flex-col flex-wrap pl-0 m-0 lg:flex-row">

          {% set pages = craft.entries.section('pages').hideFromNav('0').level('<='~4).all() %}

          {% nav entry in pages %}
            <li class="group relative
              {{ entry.level =='1' ? 'block lg:px-0 xl:px-0 mr-1 py-2':'border-b border-white border-opacity-[0.2]' }}"
              {{ entry.hasDescendants ? 'x-data="{isOpen:false }"  @mouseleave="isOpen = false"':'' }}>

              <a href="{{ entry.hasDescendants ? '#' : entry.url }}"
                class="{{ entry.level =='1' ? 'px-4 py-2 group-hover:bg-gray-400 group-hover:text-white':'text-white bg-transparent py-1 hover:text-green-100 lg:text-xs' }}"
                {% if entry.hasDescendants %}
                  @click="isOpen = !isOpen"
                  x-on:click.prevent
                  :class="{'rounded-b-none' : isOpen}"
                {% endif %}>
                  {{ entry.title }}
              </a>

              {% ifchildren %}

                {% if entry.level !="1" %}
                  <img src="/assets/images/right.gif" alt="" class="hidden lg:inline-block">
                {% endif %}

                <ul
                  class="bg-gray-600 p-2"
                  aria-label="submenu"
                   x-show="isOpen"
                   @click.away="isOpen = false">
                  {% children %}
                </ul>
              {% endifchildren %}

            </li>
          {% endnav %}

        </ul>
      </nav>



    </div>
  </div>
</nav>
