<article class="flex flex-col border spacy-y-8">


    <a href="{{ entry.url }}" aria-label="{{ entry.title }}">
      {# {{ craft.images.pictureMedia(image, transforms, null, attributes) }} #}

      {% set image = entry.image.one() ?? fallback.fallbackImage.one() %}
      {{ include('_includes/responsiveImage', {
        image: image,
        transforms: [
          {
            mq:'(max-width: 767.9px)',
            crop: {
              width: 734,
              height:367,
              mode: 'crop',
              quality: 80,
            }
          },
          {
            mq:'(min-width:768px) and (max-width: 1024px)',
            crop: {
              width:734,
              height:367,
              mode: 'crop',
              quality: 80,
            }
          },
          {
            mq:'(min-width:1025px) and (max-width: 1280px)',
            crop: {
              width:480,
              height:240,
              mode: 'crop',
              quality: 80,
            }
          },
          {
            mq:'(min-width: 1200px)',
            crop: {
              width:734,
              height:367,
              mode: 'crop',
              quality: 80,
            }
          },
        ],
        attributes: {
          alt: image.altText ?? image.title ?? null,
          class: '',
          loading: 'lazy',
          dataAttributes: ''
        },
      }, with_context = false) }}
    </a>

    <div class="p-8 bg-white ">
      <div class="flex flex-row">
        <p class="mb-0 mr-4 text-sm text-gray-500">
        {{ entry.postDate|date('F jS, Y') }}
        </p><!-- /.italic -->

        {% for category in entry.newsCategories.limit('3').all() %}
          <button sprig s-val:category="{{ category.slug }}" s-val:page="1" class="text-sm text-gray-500 underline hover:no-underline">{{ category.title }}</button>{{ not loop.last ? ',&nbsp;' }}
        {% endfor %}

      </div><!-- /.flex flex-row -->
      <h2 class="mt-0 mb-2 h2">
        <a href="{{ entry.url }}">
        {{ entry.title }}
        </a>
      </h2>

      <div class="prose prose-lg">
        {{ entry.summary }}
      </div><!-- /.prose -->
    </div>
</article>