<div class="relative">

  {% set heroImage = block.image.one() %}


  {{ include('_includes/responsiveImage', {
    image: heroImage,
    transforms: [
      {
        mq:'(max-width: 767.9px)',
        crop: {
          width: 767,
          height:300,
          mode: 'crop',
          quality: 80,
        }
      },
      {
        mq:'(max-width: 1199px)',
        crop: {
          width: 1200,
          height:375,
          mode: 'crop',
          quality: 80,
        }
      },
      {
        mq:'(min-width: 1200px)',
        crop: {
          width: 1920,
          height:450,
          mode: 'crop',
          quality: 80,
        }
      },
    ],
    attributes: {
      alt: image.altText ?? image.title ?? null,
      class: 'object-cover z-0 w-full h-full lg:min-h-[450px] md:min-h-[375px] min-h-[300px]',
      loading: 'lazy',
      dataAttributes: ''
    },
  }, with_context = false) }}

  {# {% set transforms = {
    '(max-width: 767px)': {
      width: 767,
      height:300,
      mode: 'crop',
      quality: 80,
    },
    '(max-width: 1199px)': {
      width: 1200,
      height:375,
      mode: 'crop',
      quality: 80,
    },
    '(min-width: 1200px)': {
      width: 1920,
      height:450,
      mode: 'crop',
      quality: 80,
    },
  } %}
  {% set attributes = {
      class: [
          'object-cover z-0 w-full h-full lg:min-h-[450px] md:min-h-[375px] min-h-[300px]',
      ],
      loading:'lazy',
      alt: heroImage.altText ?? heroImage.title ?? null,
  } %}
  {{ craft.images.pictureMedia(heroImage, transforms, null, attributes) }} #}

  {# hero content #}
  <div class="absolute top-0 left-0 z-10 w-full h-full py-8">
    <div class="container relative z-10 h-full">
      <div class="flex flex-col justify-center w-full h-full gap-8 lg:w-1/2">
        <h1>{{ block.heroTitle ?? entry.title }}</h1>
        {% if block.copy|length %}
          <div class="prose prose-lg">
            {{ block.copy }}
          </div><!-- /.prose -->
        {% endif %}

        {{ block.button.getLink({
          class: 'btn self-start',
        }) }}

      </div><!-- /.flex flex-col lg:flex-row -->
    </div><!-- /.container -->
  </div>
  {# end hero content #}
</div>