<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# google fonts #}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
  {# end google #}

  {# vendor css #}
  <link rel="stylesheet" href="{{ rev('/css/vendor.combined.css') }}">
  {# site css #}
  <link rel="stylesheet" href="{{ rev('/css/app.css') }}">

  <!-- Alpine Plugins -->
  {# persist plugin used to keep notice bar state across page loads #}
  <script defer src="https://unpkg.com/@alpinejs/persist@3.9.5/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.9.5/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/focus@3.9.5/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.9.5/dist/cdn.min.js"></script>

  <link rel="icon" href="/assets/images/svg/favicon.svg">
  {# for safari  https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df #}
  <link rel="mask-icon" href="/assets/images/svg/favicon.svg" color="#000000">
  <link rel="apple-touch-icon" href="/assets/images/svg/favicon.svg">

  {% block pageCss %}{% endblock %}

  {# for sprig components #}
  {{ sprig.script }}

</head>
<body id="body" class="{{ craft.app.language }} relative text-grayBrand bg-white font-work text-base">

  {# set site name from DOTENV variable based on current site language #}
  {% if craft.app.language == 'en' %}
    {% set siteName = getenv('SITE_NAME_EN') %}
  {% endif %}
  {% if craft.app.language == 'fr' %}
    {% set siteName = getenv('SITE_NAME_FR') %}
  {% endif %}



  <header>
    <a href="#main-content" role="button"  aria-label="Skip to main content" class="flex flex-col justify-center skip-main" style="height:40px;">Skip to main content</a><!-- /.skip-main -->

    {% include "_includes/notice-bar" %}

    {% include '_includes/main-nav' %}
  </header>

  <main id="main-content" aria-label="page content">
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include '_includes/footer' %}
  </footer>

  <script src="{{ rev('/js/scripts.combined.js') }}"></script>

  {% block pageJs %}{% endblock %}
</body>
</html>
