<!DOCTYPE html>
<html
  lang="en"
  x-data="{
      darkMode: localStorage.getItem('darkMode')
      || localStorage.setItem('darkMode', 'system')}"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {#
    google fonts
    go locally hosted google fonts before
    launching the live site - this will improve
    page speed scores and site performance
    https://gwfh.mranftl.com/fonts
  #}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
  {# end google #}

  <style>
  [x-cloak] {display:none;}
  </style>

  {# vendor css #}
  <link rel="stylesheet"  href="{{ rev('/css/vendor.combined.css') }}">
  {# site css #}
  <link rel="stylesheet" href="{{ rev('/css/app.css') }}">


  <link rel="icon" href="/assets/images/svg/favicon.svg">
  {# for safari  https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df #}
  <link rel="mask-icon" href="/assets/images/svg/favicon.svg" color="#000000">
  <link rel="apple-touch-icon" href="/assets/images/svg/favicon.svg">

  {% block pageCss %}{% endblock %}


</head>
<body id="body" class="{{ craft.app.language }} relative text-grayBrand bg-white font-work text-base">

  {# set site name from DOTENV variable based on current site language #}
  {% if craft.app.language == 'en' %}
    {% set siteName = getenv('SITE_NAME_EN') %}
  {% endif %}
  {% if craft.app.language == 'fr' %}
    {% set siteName = getenv('SITE_NAME_FR') %}
  {% endif %}


    <a
      href="#main-content"
      aria-label="Skip to main content"
      class="flex flex-col justify-center skip-main"
      style="height:40px;">Skip to main content</a><!-- /.skip-main -->

<header>
{#
 // use below header for sticky header that disappears on scroll down but reappears on scroll up
#}
{# <header
  x-data="{ visible: true, lastScrollY: window.scrollY, ticking: false }"
  x-init="
    // Initialize lastScrollY with the current scroll position
    lastScrollY = window.scrollY;

    // Add a scroll event listener to the window
    window.addEventListener('scroll', () => {
      // Check if a scroll event is already being processed
      if (!ticking) {
        // Use requestAnimationFrame to debounce the scroll event handler
        window.requestAnimationFrame(() => {
          // Check the scroll direction
          if (window.scrollY > lastScrollY) {
            // If scrolling down, hide the header
            visible = false;
          } else {
            // If scrolling up, show the header
            visible = true;
          }
          // Update lastScrollY with the current scroll position
          lastScrollY = window.scrollY;
          // Reset ticking to false to allow future scroll events to be processed
          ticking = false;
        });
        // Set ticking to true to indicate that a scroll event is being processed
        ticking = true;
      }
    });
  "
  :class="{
    'transform -translate-y-full -top-[85px]': !visible,
    'transform translate-y-0 top-0': visible }"
  class="fixed left-0 right-0 z-50 transition-all duration-500 ease-in-out bg-white"
> #}

    {% include "_includes/notice-bar" %}

    {#
      // main nav click dropdown this is better user experience
      // and better for accessibility
      // works with tertiary level dropdowns
    #}
    {% include '_includes/main-nav' %}

    {#
      // main nav hover dropdown
      // we use this when client insists on hover dropdowns
      // does NOT work with tertiary dropdowns
      // this is a little buggy at mobile and
      // needs work
      // also STRONGLY recommend to avoid due to
      // ACCESSIBILTY and USABILITY issues
    #}
    {# {% include '_includes/main-nav-hover' %} #}


  </header>

  <main id="main-content" aria-label="page content">

    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include '_includes/footer' %}
  </footer>

  <!-- vendor scripts -->
  <script src="{{ rev('/js/plyr.min.js') }}"></script>
  <script src="{{ rev('/js/app.js') }}"></script>

  {% block pageJs %}{% endblock %}
</body>
</html>
